// Grand Central Station

@import 'google-homepage';


// First Frame
img {
    
    opacity: .5;
    transform: scale(.25) rotate(0);
    width: 40%;
    
    transition: transform .5s;
}

// Last Frame
img:hover {
    opacity: 1;
    transform: scale(1.5) rotate(180deg);
}

// First Frame
.line {
     fill:none;
     stroke:#8cff19;
     stroke-width:30;
     stroke-miterlimit:10;
    
    transition: stroke 1s;
}

// Last Frame
.line:hover {
    stroke: red;
}

